body {
  background-color: rgb(239, 239, 239);
}
table {
  border-style: solid;
  border-left-width: 1px;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-color: rgb(8, 36, 107);
}
th {
  border-style: solid;
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  background-color: rgb(243, 184, 123);
  text-align: left;
}
td {
  border-style: solid;
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  background-color: rgb(214, 223, 247);
  text-align: justify;
}
h1 {
  font-family: arial;
  color: rgb(0, 0, 102);
  margin: 0px;
}
h2 {
  font-family: arial;
  color: rgb(0, 0, 102);
  margin: 0px;
}
h3 {
  font-family: arial;
  color: rgb(0, 0, 102);
  margin: 0px;
}
p {
  font-family: arial;
  color: rgb(0, 0, 102);
  margin: 0px;
}
pre {
  font-family: arial;
  color: rgb(0, 0, 102);
  margin: 0px;
}
p.number {
  text-align: right;
}
a.control {
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(8, 36, 107);
  text-align: center;
  width: 10px;
}